h1 {
    color: #8E8D90;
}

p {
    margin-bottom: 0 !important;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (200px 1fr));
}

.justify-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-div a {
    text-decoration: none;
}

.outer-container {
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
    height: 100%;
    width: 100vw;
    /* height: 100vh; */
}

.inner-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px 10px 0 10px;
    min-width: 100%;
    min-height: 100%;
}

.dashboard-container {
    flex: 1;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.side-bar-container {
    /* background-color: #6B25CE; */
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}

.side-bar-container a {
    color: #191919;
    text-decoration: none;
}

.side-bar-container:hover a,
.side-bar-container:hover .bi-chevron-right {
    color: #191919;
}

.side-bar-link:hover .side-bar-icon-left {
    color: #6B25CE;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 5px solid #6f3ff3;
    border-right: none;
    cursor: pointer;
    padding-left: 10px;
}

.side-bar-link {
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15PX;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle-1 {
    width: 50% !important;
}

.side-bar-groups {
    padding: 0 0 10px 15px;
}

.profile {
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
    align-items: center;
  
}

.name {
    font-weight: 600;
}
.status-names{
    font-size: 14px !important; 
}
.tasks {
    padding-right: 50px;
}

.small-text {
    font-size: 14px;
}

.profile img {
    width: 40px;
    background-color: #08C7E0;
    border-radius: 50%;
    padding: 2px;
    margin-right: 5px;
}

.name-and-email-container {
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* All profile containers */
.style-table-profile,
.style-table-profile-column {
    display: flex;
    gap: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* All forms */
.input {
    width: 450px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #8E8D90;
}

/* .select{
    padding: 10px;
} */

.text-input {
    padding-left: 10px;
}

.showusers {
    border: none;
}

form input::placeholder {
    color: rgba(0, 0, 0, 0.233);
}

form input[type="submit"] {
    color: white;
    margin-top: 10px;
    font-weight: bold;
    background-color: #6B25CE;
}

form {
    display: flex;
    flex-direction: column;
}

.exit {
    padding: 12px 28px;
 border: 1px solid #6b25ce00 !important;
    border: none;
    width: fit-content;
    border-radius: 10px;
    /* background-color: transparent; */
}
.exit h5{
    margin-bottom: 0px !important;
}
.exit:hover {
    border: 1px solid #6B25CE !important;
    background-color: white;
}


/* All forms for projects */
.project-description {
    height: 100px;
}

.create-new-project .dark-text::placeholder {
    color: #191919;
}

.flex-project-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* search bar */
.search {
    position: relative;
    width: 250px;
}

.search-input {
    width: 100%;
    border: 1px solid #E4E6E7;
    padding: 5px 10px;
    border-radius: 5px;
}

.search button {
    margin-right: 15px;
    background-color: white;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    /* left: 10px; */
    transform: translateY(-50%);
}

/* main contents container */
.main-contents-container {
    /* background-color: blue; */
    padding: 5px;
}

.inner-main-contents-container {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    height: 100%;
}

.bottom-div {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #E8E8E8;
    flex: 1;
    flex-wrap: wrap;
}


/* all top divs */

.top-div {
    display: flex;
    background-color: white;
    justify-content: center;
    gap: 60px;
    padding: 10px 0;
}

.top-div img {
    width: 30px;
}

.employee-emojis {
    position: relative;
    width: 300px;
}

.profile-picture {
    background-color: purple;
    padding: 2px;
    border-radius: 50%;
}

.employee-emojis .profile-picture {
    position: absolute;
}

.profile-picture:nth-child(2) {
    margin-left: 20px;
}

.profile-picture:nth-child(3) {
    margin-left: 40px;
}

.profile-picture:nth-child(4) {
    margin-left: 60px;
}

.no-of-employees {
    background-color: #6B25CE;
    border-radius: 50%;
    padding: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-div-add-trainee-btn a,
.top-div-add-trainee-btn i {
    color: white;
    text-decoration: none;
}

.top-div-add-trainee-btn:hover a,
.top-div-add-trainee-btn:hover i {
    color: white;
}

/* All bottom div img */
.bottom-div img {
    width: 50px;
}

/* All bottom div buttons */

.bottom-div-submit-btn,
.bottom-div-submit-btn-no-icon {
    position: relative;
    padding: 5px 30px 5px 10px;
    border: none;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
}

.bottom-div-submit-btn-no-icon {
    padding: 5px 10px;
}

.bottom-div-submit-btn i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.buttons {
    font-weight: 500;
    font-size: 14px;
}

.complete-btn {
    background-color: #CEFBD5;
    border-radius: 30px;
}

.complete-btn p {
    color: #266136;
}

.complete-btn i {
    color: #266136;
}

.status-on-top {

    border-radius: 5px 5px 0px 0px;
    max-width: fit-content;
    padding: 5px 8px;
}

.in-progress-btn {
    background-color: #08C7E01F;
    border-radius: 30px;
}

.free-btn {
    background-color: #E4E6E7;
    border-radius: 30px;
    padding: 5px 15px;
}

.free-btn p {
    color: #27292B;
}

.in-progress-btn p {
    color: #08C7E0;
}

.in-progress-btn i {
    color: #08C7E0;
}

.assigned-tasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* main contents divided tables */
.styled-table,
.styled-table-employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 10px;
}

.styled-table-employees {
    grid-template-columns: repeat(3, 1fr);
}

/* profile containers styled as flex */
.shared-profile-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

/* Login page */

.login {
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.login-form form input[type="submit"] {
    opacity: 0.6;
}

/* Admin Dashboard */
.admin-dashboard-bottom-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bottom-div-categories {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.bottom-div-categories a {
    text-decoration: underline;
    text-decoration-color: #19191900;
    color: #191919;
}

.bottom-div-categories a:hover {
    text-decoration-color: #191919;
    cursor: pointer;
    color: #191919;
}

.deactivate-members-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile-deactivate .name {
    font-weight: 500;
}

.bottom-div-submit-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deactivate-btn {
    background-color: #F9D0CE;
}

.deactivate-btn p {
    color: #5D1B18;

}

.deactivate-btn i {
    color: #5D1B18;
}

.restore-btn {
    padding: 5px 10px;
    background-color: #CEFBD5;
    border-radius: 5px;
}

.restore-btn p {
    color: #266136;
}

.restore-btn i {
    color: #266136;
}

/* Create individual project form */

/* page project manager dashboard */
.view-trainer-details {
    flex: auto;
}

.create-a-cohort {
    color: #08C7E0;
}

.create-a-cohort:hover {
    color: #08C7E0;
}

/* trainer */

.choose-project-individual-btn,
.choose-project-group-btn,
.top-div-add-trainee-btn {
    background-color: #6B25CE;
}

.choose-project-group-btn a,
.choose-project-individual-btn {
    color: white;
}

.choose-project-group-btn a:hover,
.choose-project-individual-btn:hover {
    color: white;
}

.choose-project-group-btn,
.top-div-add-trainee-btn {
    margin-left: 10px;
    position: relative;
    padding: 5px 30px 5px 2px;
    border-radius: 5px;
}

.choose-project-group-btn i,
.top-div-add-trainee-btn i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.flex-buttons {
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.flex-buttons i {
    gap: 5px;
}

.bottom-div span {

    font-weight: 500;
}

.add-group-btn {
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    background-color: #CEFBD5;
    left: 190px;
    border-radius: 5px;
    top: 30px;
    position: absolute;
    color: #266136;
    /* display: none; */
}

.add-group-btn:hover {
    color: #266136;
}

.status-complete {
    flex-direction: column;
    width: 100%;
}

.style-table-profile-column {
    flex-direction: column;
}

.status-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.project-descr-for-all-tasks {
    padding: 0 20px;
}

.img {
    min-width: fit-content;
}

.in-progress {
    background-color: #08C7E01F;
    padding: 5px 10px;
    border-radius: 30px;
}

.in-progress i {
    color: #08C7E0;
}

.status-on-top-in-progress {
    background-color: #08C7E01F;
}

.status-on-top-in-progress p,
.status-on-top-in-progress i {
    color: #08C7E0;
}

.in-progress-icon {
    color: #08C7E01F;
}

.status-on-top-in-not-activated {
    background-color: #F9D0CE;
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
    margin-left: 5px;
}

.update {
    background-color: #F9D0CE;
    padding: 5px 10px;
    border-radius: 5px 5px;
    margin-left: 5px;
}

.status-on-top-in-not-activated p,
.status-on-top-in-not-activated i {
    color: #5D1B18;
}

.delete-icon {
    margin-left: 15px;
}

.not-activated-icon {
    color: #F9D0CE;
}

.status-on-top-complete {
    background-color: #CEFBD5;
}

.status-on-top-complete i {
    color: #CEFBD5;

}

.status-on-top-complete p {
    color: #266136;
}

.complete-icon {
    color: #266136;
    background-color: #CEFBD5;
    padding: 5px 10px;
    border-radius: 30px;
}

.complete {
    color: #CEFBD5;
}

/* restore deleted projects */

/* Trainee my project revamp */
.my-project {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.project-description {
    display: grid;
    grid-template-columns: 1fr 150px;
}

.project-name {
    font-weight: 600;
}

.launch-btn {
    border: none;
    color: #5D1B18 !important;
    background-color: #F9D0CE !important;
    padding: 5px 10px;
    border-radius: 5px;
}

.project-in-progress-icon {
    border: none;
    color: #08C7E0 !important;
    background-color: #08C7E01F !important;
    padding: 5px 10px;
    border-radius: 5px;
}

.project-in-progress-icon:hover,
.launch-btn:hover {
    cursor: pointer;
}

/* Trainer Dashboard revamp */
.sent-icon {
    color: #5D1B18;
    background-color: #F9D0CE;
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 14px;
}

.form-group-project {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
}

.form-group-project .right,
.form-group-project .left {
    display: flex;
    flex-direction: column;
}

.form-group-project .left>div {
    display: flex;
    gap: 10px;
    overflow-y: auto;
    background-color: #F3F3F3;
}
.form-group-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* update project a tag */
.update-project-link{
    color: #266136;
    background-color: #CEFBD5;
    padding: 5px 10px;
    border-radius: 5px;
}